@model Company.Data.Data.Shop.Product
@{
    ViewData["Title"] = "Szczegóły towaru";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<div class="container">
    <br><br>
    <h1 class="header center orange-text">Szczegóły towaru</h1>
    <br>
    <h2 class="header center orange-text">@Model.Name</h2>
    <div class="row center">
        <p class="header col s12 light">
            <h3>Kod:</h3><br />
            @Model.Code
            <br />
        </p>
        <p class="header col s12 light">
            <h3>Cena:</h3><br />
            @Model.Price
            <br />
        </p>
        <p class="header col s12 light">
            <h3>Opis:</h3><br />
            @Model.Description
            <br />
        </p>
        <p class="header col s12 light">
            <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.IdProduct" class="btn btn-primary">Add To Cart</a>
        </p>
        Data i godzina edycji: @DateTime.Now.ToString()
    </div>
    <br><br>

</div>
